
<div style="margin-top:30px;text-align:center;">
    <span class="label label-danger" style="font-size:20px;">Oops!  got error</span>
</div>
<div style="margin-top:40px">
    @Html.ActionLink("Back to List", "Index")
</div>